{% load prices %}
<div class="modal" id="craft-price-modal">
  <div class="modal-background"></div>
  <div class="modal-card is-size-7 is-size-6-mobile">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5 is-size-6-mobile"><strong>Lowest 10 Unfiltered Prices for {{ item_name }}</strong></p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        <div class="container">
          {% for component in components %}
          <div>{{ component.name }} {{ component.quantity }}</div>
          {% empty %}
          <div>You cannot craft this item</div>
          {% endfor %}
        </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button close-modal">Cancel</button>
    </footer>
  </div>
</div>