{% load static %}
<div class="modal" id="export-data-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5 is-size-6-mobile">Choose the site you wish to export to</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body is-size-7-mobile">
    <div class="tabs">
      <ul>
        <li class="is-active"><a id="GT">Gaming.Tools</a></li>
        <li ><a id="NWXP">NWXP</a></li>
      </ul>
    </div>
       <div class="tab-content">
        <div class="tab-pane is-active" id="GTtab">

           <div class="pb-2">1. Right click <a class="export-data-modal-url">here</a> and save link as.</div>
            <div class="pb-2">2. Go to the <a href="https://gaming.tools/newworld/price-customization" target="_blank">price customization page</a>.</div>
            <div class="pb-2">3. Scroll to the bottom and use the Import Prices function</div>
            <div class="pb-4">4. Change the "Minimum Import Availability" to 1 to get all the prices</div>
            <img src="{% static 'nwmarketapp/GamingtoolCustomizations.png' %}">
            <div>The prices exported are the last seen lowest prices.</div>
          </div>


            <div class="tab-pane" id="NWXPtab">
           <div class="pb-2">1. Right click <a class="export-data-modal-url">here</a> and save link as.</div>
            <div class="pb-2">2. Go to your <a href="https://nwxp.info/account" target="_blank">account page</a>.</div>
            <div class="pb-2">3. Log in or sign up if necessary</div>

            <div class="pb-4">4. Drag and drop or select the file you just saved.</div>

            <img src="{% static 'nwmarketapp/NWXP-price-export.png' %}">
            <div>The prices exported are the last seen lowest prices.</div>
          </div>




       </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button close-modal">Close</button>
    </footer>
  </div>
</div>
