{% load prices %}
<div class="modal" id="lowest-10-modal">
  <div class="modal-background"></div>
  <div class="modal-card is-size-7 is-size-6-mobile">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5 is-size-6-mobile"><strong>Lowest 10 Unfiltered Prices for {{ item_name }}</strong></p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column is-two-fifths column-title">Time Seen</div>
                <div class="column is-one-fifth column-title">Price</div>
                <div class="column column-title">Avail</div>
                <div class="column is-one-fifth column-title">Buy Order</div>
                <div class="column column-title">Qty</div>
            </div>
            {% for price in detail_view %}
            <div class="columns mb-0  is-mobile">
                <div class="column is-two-fifths">{% fromisoformat price.datetime %}</div>
                <div class="column is-one-fifth">{{ price.price }}</div>
                <div class="column">{{ price.avail }}</div>

                 <div class="column is-one-fifth">
                     {% if price.buy_order_price is not None %}
                        {{ price.buy_order_price }}
                     {% endif %}
                 </div>
                 <div class="column">
                     {% if price.qty is not None %}
                        {{ price.qty }}
                     {% endif %}
                 </div>

            </div>
            {% endfor %}
        </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button close-modal">Cancel</button>
    </footer>
  </div>
</div>
