{% load humanize %}
{% load prices %}
<div class="lowest-price-div full-height">
    <div class="lowest-price-item top">Lowest price as of {{ last_checked }}</div>
    <div class="lowest-price-text lowest-price-item middle">{{ recent_lowest_price|floatformat:2|intcomma }}</div>
    <div class="lowest-price-item bottom">
        <div>
            <span id="lowest-10-modal-trigger" class="clickable">Raw Data</span>
            |
            <a class="link-soft" href="https://nwdb.info/db/item/{{ nwdb_id }}">nwdb</a>
            |
            <span id="craft-modal-trigger" class="clickable craft-info">Craft Price</span>
            <div class="craft-modal">
                <section class="modal-card-body">
                    <div class="container">
                      {% for component in components %}
                        <div>
                            {{ component.name }} x {{ component.quantity }}:
                            {% if component.quantity == 1 %}
                                {{ component.price }}po
                            {% else %}
                                {{ component.price }}po/U => {{ component.total }}po
                            {% endif %}
                        </div>
                      {% empty %}
                        <div>You cannot craft this item</div>
                      {% endfor %}
                      {% if craftCost != 0.0 %}
                        <div>Total craft cost: {{ craftCost }}po</div>
                      {% endif %}
                    </div>
                </section>
            </div>
        </div>
        <div>{% price_change_html price_change price_change_date %}</div>
    </div>
</div>
{% include 'snippets/lowest-10-price-modal.html' %}
