{% load static %}
<nav class="navbar white-border" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <img src="{% static 'images/cropped-logo4-60.png' %}" style="width: 60px; height: 60px; margin-top: auto; margin-bottom: auto; margin-right: 10px"/>
        <span class="navbar-item nav-title is-size-5">
            {% if request.GET.ref != "agg" %}
            <a href="/" style="color: white">New World Market Prices</a>
            {% else %}
            <a href="/" style="color: white" target="_blank">New World Market Prices</a>
            {% endif %}
        </span>
        <div class="navbar-item"></div>
        {% if show_login %}

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

        {% endif %}
    </div>
    {% if show_search %}
        {% include 'snippets/typeahead-search.html' %}
    {% endif %}
    {% if show_login %}
    <div class="navbar-end is-dark">
        <div id="burger" class="navbar-menu is-dark burger-menu">
            {% include 'snippets/server-select.html' %}
            {% if request.GET.ref != "agg" %}
                {% include 'snippets/login_button.html' %}
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="navbar-end is-dark">
        <div class="navbar-item">
            <a class="button is-primary login" href="/">
                <strong class="discord-text m-0">Back To Home</strong>
            </a>
        </div>
    </div>
    {% endif %}

</nav>
