{% load static %}
<div class="modal" id="other-sites-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title is-size-5 is-size-6-mobile">Other cool New World sites/tools to check out</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body is-size-7-mobile">


            <ul>
            <li class="pb-1">
                - <a href="https://gaming.tools/newworld/" target="_blank">Gaming.Tools</a> for crafting calculators and profitability
            </li>
            <li class="pb-1">
                - <a href="https://nwxp.info/" target="_blank">NWXP</a> for crafting XP paths
            </li>
            <li class="pb-1">
                - <a href="https://github.com/josdemmers/NewWorldCompanion" target="_blank">New World Companion</a> in-game pricing overlay and recipe tracking
            </li>
            <li class="pb-1">
                - <a href="https://aeternum-map.gg/" target="_blank">Aeternum-map.gg</a> for Map and node tracking
            </li>
            <li class="pb-1">
                - <a href="https://www.minmaxed.games/newworld/server/trading_post/" target="_blank">Minmaxed.games</a> displays NWMP data in a UI similar to the game
            </li>
            <li >
                - <a href="https://discord.gg/nwgtp" target="_blank">New World Global Trading Post</a> is a Discord Channel where you can list Weapons and Armor or sale
            </li>


            </ul>






    </section>
    <footer class="modal-card-foot">
      <button class="button close-modal">Close</button>
    </footer>
  </div>
</div>