{% extends 'base.html' %}
{% block nav %}
    {% with show_login=True show_servers=True show_search=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% load static %}
{% block additional_includes %}
    <script src="{% static 'nwmarketapp/app.js' %}"></script>
    <script src="{% static 'nwmarketapp/init-typeahead.js' %}"></script>
{% endblock %}
{% block content %}
    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        if (urlParams.has('ref')) {
            const refValue = urlParams.get('ref');
            console.log(`The value of the "ref" parameter is "${refValue}".`);
            if (refValue === 'agg') {
                const link = document.createElement('link');
                link.rel = 'stylesheet';
                link.href = '{% static 'nwmarketapp/agg.css' %}';
                document.head.appendChild(link);

            }


        }

    </script>
<div class="container py-0 px-2">
    <div class="columns mt-1-desktop mb-0 hidden" id="price-data">
        <div class="column is-two-fifths mx-0 p-1">
            <div class="container box has-text-centered my-auto full-height white-border" id="lowest-price-data">
                {% include 'snippets/lowest-price.html' %}
            </div>
        </div>
        <div class="column is-three-fifths has-text-centered p-1 is-flex full-width">
            <div class="box white-border full-width" id="line-graph-column">
            {% include 'snippets/item-graph.html' %}
            </div>
        </div>
    </div>
    <div class="columns mt-1-desktop mb-0 hidden" id="welcome-banner">
        <div class="column is-flex mx-0 p-1">
            <div class="container box has-text-centered my-auto full-height white-border" id="lowest-price-data">
                <div class="is-size-3">Welcome to New World Market Prices!</div>
                <div class="is-size-5">This is a community driven database of Trading Post prices.</div>
                <div class="is-size-5">Choose a server and select from the popular item lists, or search for an item in the search bar above.</div>

                <div class="is-size-5">Server not listed or up to date? Become a scanner! Head over to our <a href="https://discord.gg/9xfcG6jTVj" style="text-decoration: none">discord channel</a> to find out more.</div>
                <br>
                <div class="is-size-5">Want to help support the site?
                    <br>

                   Become a gold subscriber on Discord and get full access to the custom dashboard without having to be an active scanner.

                </div>
            </div>

        </div>
    </div>

</div>
<div class="container py-0 px-2">
    <div class="columns flex-container mt-0 mb-0">
        <div class="mx-0 p-3 column items-column">
            {% include "snippets/popular-end-game-empty.html" with name="Popular End Game Items" id="popular-end-game-items" %}
        </div>
        <div class="mx-0 p-3 column items-column">
            {% include "snippets/popular-end-game-empty.html" with name="Popular Base Materials" id="popular-base-materials"  %}
        </div>
        <div class="mx-0 p-3 column" id="competitive-bar-column">
            {% include 'snippets/competitive-items.html' %}
        </div>
    </div>
    <div class="columns flex-container mt-1 mb-0">
        <div class="mx-0 p-3 column items-column">
                {% include "snippets/popular-end-game-empty.html" with name="Motes" id="motes" %}
        </div>
        <div class="mx-0 p-3 column items-column">
                {% include "snippets/popular-end-game-empty.html" with name="Refining Reagents" id="refining-reagents" %}
        </div>
        <div class="mx-0 p-3 column items-column">
                {% include "snippets/popular-end-game-empty.html" with name="Trophy Materials" id="trophy-materials" %}
        </div>
    </div>
    <div class="columns flex-container mt-1 mb-0">
        <div class="mx-0 p-3 column items-column">
                {% include "snippets/popular-end-game-empty.html" with name="Craft Mods" id="craft-mods" %}
        </div>
        <div class="mx-0 p-3 column items-column">
                {% include "snippets/popular-end-game-empty.html" with name="Coatings and Wards" id="coatings" %}
        </div>
        <div class="mx-0 p-3 column items-column">
                {% include "snippets/popular-end-game-empty.html" with name="Foods and Consumables" id="foods" %}
        </div>
    </div>
</div>
<div class="container py-0">
    <div class="container my-4 mx-0 is-size-5 has-text-centered p-3">
        Pricing data is sourced from our community of Market Watchers.
        <br>
        If you would like to join us, head over to the <a href="https://discord.gg/9xfcG6jTVj" style="text-decoration: underline">discord channel</a> to find out more.

        <br>
        How to <a id="export-data-modal-trigger" style="text-decoration: underline">export prices</a> for use with other sites.
        <br><a href="/news"> News and stats</a> |
        <a id="other-sites-modal-trigger">Other New World sites I like</a>
        <br><span data-ccpa-link="1"></span>

    </div>
</div>
<script>

let top10data = null;
</script>
{% include 'snippets/export-data-modal.html' %}
{% include 'snippets/other-sites-modal.html' %}
{% endblock %}