{% load static %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <span class="navbar-item nav-title">
            <a href="/" style="color: white">New World Market Prices</a>
        </span>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    {% if not is_login_nav %}
    {% include 'snippets/typeahead-search.html' %}
    <div id="burger" class="navbar-menu is-dark burger-menu">
        {% include 'server-select.html' %}
        {% include 'snippets/login_button.html' %}
    </div>
    {% else %}
    <div class="navbar-end is-dark">
        <div class="navbar-item">
        <a class="button is-primary login" href="/">
            <strong class="discord-text m-0">Back To Home</strong>
        </a>
        </div>
    </div>
    {% endif %}
</nav>
