{% extends 'base.html' %}
{% load static %}
{% block nav %}
    {% with is_login_nav=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block additional_includes %}
    <script src="{% static 'nwmarketapp/bulma-accordion.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'nwmarketapp/bulma-accordion.min.css' %}">
{% endblock %}

{% block content %}
<div class="container py-0 px-2">
   <div class="columns mt-1-desktop mb-0">
        <div class="column is-two-fifths mx-0 p-1">
            <div class="container box has-text-centered my-auto full-height white-border">
                <span class="popular-item-title">Recent scans</span>
                <hr class="solid divider">

                {% if recent_scans %}
                    {% for scan in recent_scans %}
                <div class="columns is-mobile">

                        <div class="column is-mobile" style="padding: 0px; text-align: left; margin-left: 10px">{{ scan.1 }}</div>
                        <div class="column is-mobile" style="padding: 0px;">{{ scan.0 }}</div>
                 </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12">No recent scans</div>
                {% endif %}


            </div>
        </div>
        <div class="column is-three-fifths has-text-centered p-1 is-flex full-width">
            <div class="box white-border full-width" id="line-graph-column">
                <span class="popular-item-title">Development News</span>
                <hr class="solid divider">
                <div class="columns is-mobile">

                        <div class="column is-mobile" style="padding: 0px; text-align: left; margin-left: 10px">
                           12-2022 Sectional scanning released. Buy Order scanning released. Next priority is working on customizable dashboards.

                        </div>

                 </div>
                <span class="popular-item-title">Scan stats</span>
                <hr class="solid divider">
                <div class="columns is-mobile">

                        <div class="column is-mobile" style="padding: 0px; text-align: left; margin-left: 10px">
                             Total number of scans: {{ total_scans }}
                             <br>
                             Current active servers: {{ total_servers }}
                        </div>
                        <div class="column is-mobile" style="padding: 0px; text-align: left; margin-left: 10px">
                         Most scanned servers:
                            <br>
                            {% for server in most_scanned_server %}
                                {{ server.0 }} - {{ server.1 }}
                                <br>
                            {% endfor %}
                        </div>

                 </div>
                <div class="columns is-mobile">

                        <div class="column is-mobile" style="padding: 0px; text-align: left; margin-left: 10px">

                        </div>

                 </div>


            </div>
        </div>
    </div>
    <div class="columns mt-1-desktop mb-0">
        <div class="column is-full mx-0 p-1">
            <div class="container box my-auto full-height white-border">
                <span class="popular-item-title">Recent News from New World</span>
                <hr class="solid divider">
                   <section class="accordions">
                      {% for entry in news_entries %}
                          <article class="accordion">
                            <div class="accordion-header toggle">
                              <p>{{ entry.title }}</p>

                            </div>
                            <div class="accordion-body">
                              <div class="accordion-content news_li">
                                  {{ entry.description | safe}}
                              </div>
                            </div>
                          </article>
                       {% endfor %}
                    </section>

            </div>
        </div>
    </div>

</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const accordions = bulmaAccordion.attach();
    });
</script>
{% endblock %}