packages:
  awslogs: []

files:
  /etc/awslogs/conf.d/custom-logs.conf:
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state
      [/var/log/discord.log]
      file = /var/log/discord.log
      log_group_name = /aws/elasticbeanstalk/ENVIRONMENT_NAME/var/log/discord.log
      log_stream_name = {instance_id}
      datetime_format = %Y-%m-%d %H:%M:%S

option_settings:
  awslogs:
    region: us-west-1a