{% extends 'base.html' %}
{% block nav %}
    {% with is_login_nav=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% load static %}
{% load humanize %}
{% block additional_includes %}
     <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
     <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bulma.min.js"></script>
    <script src="{% static 'nwmarketapp/dashboard.js' %}"></script>
    <script src="{% static 'nwmarketapp/dashboard-typeahead.js' %}"></script>
{% endblock %}


{% block content %}

{#<div class="tile is-ancestor" style="margin-top: 0px">#}
{#  <div class="tile is-parent">#}
{#    <article class="tile is-child box" id="item-tracking">#}
{#      <p class="title">Welcome to your monitoring dashboard</p>#}
{#        <p class="subtitle">Here you can choose up to 10 items to monitor changes on. Other useful graphs and data can be found below. Some data is only available to Market Watchers. To sign up visit the #become-a-scanner channel on <a>Discord</a>.</p>#}
{#        <div class="content">#}
{#            To get started <a id="item-selection-modal-trigger" style="text-decoration: underline">click here to choose your items to track</a>#}
{##}
{#        </div>#}
{##}
{#    </article>#}
{#  </div>#}
{##}
{#</div>#}
<div class="tile is-ancestor" style="margin-top: 0px">
  <div class="tile is-parent">

    <article class="tile is-child box white-border" id="item-tracking">

         <p class="subtitle">Custom item tracking. <a>Click here</a> to change.</p>
      <div class="columns">

              {% for item in dashboard_data %}
                   {% if forloop.first %}<div class="column">{% endif %}
              <article class="tile box tracked-item ">
               <div class="grid-container">
                  <div class="item-name is-size-6">{{ item.item_name }}</div>
                  <div class="updated timestamp">Updated: {{ item.last_checked|naturaltime }}</div>
                  <div class="mini-graph"><div id="chart-{{ item.item_id }}" class="chart" style="width: 164px;height: 45px;"></div></div>
                  <div class="price is-size-6">{{ item.lowest_price.price }}</div>
                   {% if item.price_change < 0 %}
                        <div class="change is-size-6 yellow_text">{{ item.price_change }}%</div>
                   {% else %}
                         <div class="change is-size-6 blue_text">{{ item.price_change }}%</div>
                   {% endif %}


               </div>

              </article>


                {% if forloop.counter|divisibleby:3 and not forloop.last %}</div><div class="column"> {% endif %}

              {% endfor %}

          </div>
</div>

    </article>
  </div>

</div>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box">
          <p class="title">Higher vs other servers</p>
          <p class="subtitle">Top box</p>
        </article>
        <article class="tile is-child box">
          <p class="title">Lower vs other servers</p>
          <p class="subtitle">Bottom box</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Price increases</p>

          <div class="content">
            <table class="table is-narrow is-size-7 price-change-table">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Recent change</th>
                  <th>Vs rolling average</th>

                </tr>
              </thead>
              <tbody id="price_increases-table">

            </tbody>
          </table>
        </div>
        </article>
      </div>
    </div>

  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <div class="content">
        <p class="title">Price drops</p>

        <div class="content">
          <table class="table is-narrow is-size-7 price-change-table">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Recent change</th>
                  <th>Vs rolling average</th>

                </tr>
              </thead>
              <tbody id="price_drops-table">

            </tbody>
          </table>
        </div>
      </div>
    </article>
  </div>
</div>

<script>
window.onload = function(){
    let mini_graph_data = null
    {% for item in dashboard_data %}
        mini_graph_data = {{item.graph_data|safe}}
        create_mini_graph(mini_graph_data, 'chart-{{ item.item_id }}')
    {% endfor %}




}

</script>

{% include 'marketwatchers/snippets/pop-modal.html' %}
{% endblock %}
