{% extends 'base.html' %}

{% block nav %}
    {% with show_login=True show_servers=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% load static %}

{% block additional_includes %}
     <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
     <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bulma.min.js"></script>
    <script src="{% static 'nwmarketapp/dashboard.js' %}"></script>
    <script src="{% static 'nwmarketapp/dashboard-typeahead.js' %}"></script>

    <script src="{% static 'nwmarketapp/bulma-accordion.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'nwmarketapp/bulma-accordion.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@1.0.1/dist/bulma-switch.min.css">


{% endblock %}


{% block content %}

<div class="tile is-ancestor" style="margin-top: 0px" id="welcome-banner">
  <div class="tile is-parent">
    <article class="tile is-child box white-border">
      <p class="title">Welcome to your monitoring dashboard</p>
        <p class="subtitle">Here you can choose specific items to monitor changes on along with other useful graphs and data. Some data is only available to Market Watchers and Discord Supporters. To sign up visit the #become-a-scanner channel on <a href="https://discord.gg/9xfcG6jTVj" target="_blank">Discord</a>.</p>
        <div class="content hidden" id="item-selection-link">
            To get started <a id="item-selection-modal-trigger" style="text-decoration: underline">click here to choose your items to track</a>

        </div>
        <div id="loading-message">Loading items... Please wait<div class="lds-dual-ring"></div></div>
        <div id="not-loggedin-message" class="hidden">To get started, please sign in with your Discord credentials in the top right to be able to track items</div>
    </article>
  </div>



</div>
<div class="tile is-ancestor hidden" style="margin-top: 0px" id="item-tracking">
  <div class="tile is-parent">

    <article class="tile is-child box white-border">

         <p class="subtitle">Custom item tracking. <a id="item-selection-modal-trigger2">Click here</a> to change.</p>
          <div class="columns" id="tracked-items">

          </div>
        <section class="accordions">
            <article class="accordion">
                <div class="accordion-header toggle">
                    <p>Price Alerts</p>
                    <span id="alerts-triggered" style="color:#FF0000"></span>
                    <i class="fa fa-chevron-down is-pulled-right"></i>
                </div>
                <div class="accordion-body">
                    <div class="accordion-content" style="min-height: 300px">
                        <div class="column">
                            <div class="columns" style="text-align: center; margin-top: -35px; margin-bottom: -31px;">
                                <div class="column">

                                    <div class="field item-search-container">
                                        <div class="typeahead__container">
                                            <input class="input item-search-alerts is-expanded" type="search"
                                                   placeholder="Start searching..." id="item-search-alerts"
                                                   spellcheck="false">
                                        </div>
                                    </div>
                                </div>
                                <div class="column" style="text-align: right;">
                                    <span class="save-btn">
                                        <button class="button is-success is-outlined is-rounded" id="alerts_save">
                                            <span class="icon is-small">
                                            <i class="fa fa-check"></i>

                                            </span>
                                            <span>Save</span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <hr style="margin-bottom: 8px">
                            <div id="item-alerts">
                            </div>

                        </div>


                    </div>
                </div>
            </article>


        </section>
    </article>

  </div>

</div>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box">
          <p class="title">Rarely seen items</p>
          <p class="subtitle">These showed up in the last scan but haven't been seen for at least 7 days prior</p>
             <table class="table is-narrow is-size-7 dashboard-table">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Last seen</th>


                </tr>
              </thead>
              <tbody id="rare_items-table">

            </tbody>
          </table>
              <div id="rare_items-ph">
                <div class="ph-item">
                    <div class="ph-col-12">
                        <div class="ph-row">
                            {% for i in "x"|rjust:"10" %}
                            <div class="ph-col-4"></div>
                            <div class="ph-col-2 empty"></div>
                            <div class="ph-col-2"></div>
                            <div class="ph-col-2 empty"></div>
                            <div class="ph-col-2"></div>
                                {% if not forloop.last %}
                            <div class="ph-col-12 empty"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
              </div>
            <div class="hidden locked-item">
                Available to Market Watchers and Discord Supporters only. To sign up please visit the <a href="https://discord.gg/9xfcG6jTVj" target="_blank">Discord channel</a>
                <img class="lock-icon" src="{% static 'nwmarketapp/lock_icon.png' %}">
            </div>

        </article>
        <article class="tile is-child box">
          <p class="title">Most sold items</p>
            <p class="subtitle">Recorded from Market Watcher sold orders in the past 15 days</p>
            <div class="tabs">
                <li class="is-active">
                    <a id="AllServers">
                        <span>All Servers</span>
                    </a>
                </li>
                <li>
                    <a id="CurrentServer">
                        <span>Current Server</span>
                    </a>
                </li>

            </div>
            <div class="tab-content">
                <div class="tab-pane is-active" id="AllServers">
                    <table class="table is-narrow is-size-7 dashboard-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Avg Price</th>
                            <th>Avg Qty</th>
                            <th>Total times sold</th>


                        </tr>
                        </thead>
                        <tbody id="top_sold_items_allservers-table">
                        </tbody>
                    </table>
                    <div id="top_sold_items_allservers-ph">
                        <div class="ph-item">
                            <div class="ph-col-12">
                                <div class="ph-row">
                                    {% for i in "x"|rjust:"10" %}
                                        <div class="ph-col-4"></div>
                                        <div class="ph-col-2 empty"></div>
                                        <div class="ph-col-2"></div>
                                        <div class="ph-col-2 empty"></div>
                                        <div class="ph-col-2"></div>
                                        {% if not forloop.last %}
                                            <div class="ph-col-12 empty"></div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden locked-item">
                        Available to Market Watchers and Discord Supporters only. To sign up please visit the <a
                            href="https://discord.gg/9xfcG6jTVj" target="_blank">Discord channel</a>
                        <img class="lock-icon" src="{% static 'nwmarketapp/lock_icon.png' %}">
                    </div>

                </div>
                <div class="tab-pane" id="CurrentServer">

                    <table class="table is-narrow is-size-7 dashboard-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Avg Price</th>
                            <th>Avg Qty</th>
                            <th>Total times sold</th>


                        </tr>
                        </thead>
                        <tbody id="top_sold_items_currentserver-table">
                        </tbody>
                    </table>
                    <div id="top_sold_items_currentserver-ph">
                        <div class="ph-item">
                            <div class="ph-col-12">
                                <div class="ph-row">
                                    {% for i in "x"|rjust:"10" %}
                                        <div class="ph-col-4"></div>
                                        <div class="ph-col-2 empty"></div>
                                        <div class="ph-col-2"></div>
                                        <div class="ph-col-2 empty"></div>
                                        <div class="ph-col-2"></div>
                                        {% if not forloop.last %}
                                            <div class="ph-col-12 empty"></div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden locked-item">
                        Available to Market Watchers and Discord Supporters only. To sign up please visit the <a
                            href="https://discord.gg/9xfcG6jTVj" target="_blank">Discord channel</a>
                        <img class="lock-icon" src="{% static 'nwmarketapp/lock_icon.png' %}">
                    </div>
                </div>

            </div>


        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Price increases</p>
        <p class="subtitle">Lowest price of last scan vs lowest price of the previous day.</p>
          <div class="content">
            <table class="table is-narrow is-size-7 dashboard-table">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Recent change</th>
                  <th>Vs rolling average</th>

                </tr>
              </thead>
              <tbody id="price_increases-table">


              </tbody>
          </table>
               <div id="price_increases-ph">
                <div class="ph-item">
                    <div class="ph-col-12">
                        <div class="ph-row">
                            {% for i in "x"|rjust:"20" %}
                            <div class="ph-col-4"></div>
                            <div class="ph-col-2 empty"></div>
                            <div class="ph-col-2"></div>
                            <div class="ph-col-2 empty"></div>
                            <div class="ph-col-2"></div>
                                {% if not forloop.last %}
                            <div class="ph-col-12 empty"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
           <div class="hidden locked-item">
                Available to Market Watchers and Discord Supporters only. To sign up please visit the <a href="https://discord.gg/9xfcG6jTVj" target="_blank">Discord channel</a>
                <img class="lock-icon" src="{% static 'nwmarketapp/lock_icon.png' %}">
            </div>
        </div>
        </article>
      </div>
    </div>

  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <div class="content">
        <p class="title">Price drops</p>
    <p class="subtitle">Lowest price of last scan vs lowest price of the previous day.</p>
        <div class="content">
          <table class="table is-narrow is-size-7 dashboard-table">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Recent change</th>
                  <th>Vs rolling average</th>

                </tr>
              </thead>
              <tbody id="price_drops-table">

            </tbody>
          </table>
              <div id="price_drops-ph">
                <div class="ph-item">
                    <div class="ph-col-12">
                        <div class="ph-row">
                            {% for i in "x"|rjust:"20" %}
                            <div class="ph-col-4"></div>
                            <div class="ph-col-2 empty"></div>
                            <div class="ph-col-2"></div>
                            <div class="ph-col-2 empty"></div>
                            <div class="ph-col-2"></div>
                                {% if not forloop.last %}
                            <div class="ph-col-12 empty"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
              </div>
            <div class="hidden locked-item">
                Available to Market Watchers and Discord Supporters only. To sign up please visit the <a href="https://discord.gg/9xfcG6jTVj" target="_blank">Discord channel</a>
                <img class="lock-icon" src="{% static 'nwmarketapp/lock_icon.png' %}">
            </div>
      </div>
    </article>
  </div>
</div>



{% include 'marketwatchers/snippets/item-selection-modal.html' %}
{% include 'marketwatchers/snippets/graph-modal.html' %}
{% endblock %}
