{% extends 'base.html' %}
{% block nav %}
    {% with is_login_nav=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% load static %}
{% block content %}
<div class="container py-0 px-2">
       <div class="columns mt-1-desktop mb-0">
        <div class="column is-one-third mx-0 p-1">
            <div class="container box has-text-centered my-auto full-height white-border">
                <span class="popular-item-title">Motes</span>
                <hr class="solid divider">

dfhfgdh


            </div>
        </div>
        <div class="column is-one-third has-text-centered p-1 is-flex full-width">
            <div class="box white-border full-width" id="line-graph-column">
                <span class="popular-item-title">Gems</span>
                <hr class="solid divider">

dfghdfgh

            </div>
        </div>
        <div class="column is-one-third has-text-centered p-1 is-flex full-width">
            <div class="box white-border full-width" id="line-graph-column">
                <span class="popular-item-title">Other Resources</span>
                <hr class="solid divider">

dfghdfg

            </div>
        </div>
    </div>

</div>
{% endblock %}
