<!-- Page rendered in {{ render_time }} -->
<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

     <title>New World Market Prices</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'nwmarketapp/jquery.typeahead.min.css' %}">
    <link rel="stylesheet" href="{% static 'nwmarketapp/bootstrap.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'nwmarketapp/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'nwmarketapp/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'nwmarketapp/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'nwmarketapp/site.webmanifest' %}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WW3EJQVND0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WW3EJQVND0');


</script>
    <script>
    var nwdbConfig = {
        scale: 0.80,
        delay: 5
    }
</script>
<script async src="https://nwdb.info/embed.js"></script>

</head>
<body>
<!-- Navigation -->


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6-1 col-12 text-center bg-dark" id="price_div">
                <h5>Lowest Price as of: -/--/----</h5>

                <div class="col-md-12 col-12 large-text" id="price_block">

                    0.00

                </div>

                <h5>0% price increase since -/--/----</h5>

            </div>

            <div style="height: 1px"><img src="https://img.spacergif.org/v1/spacer.gif" aria-hidden="true" alt=""
                                          width="4px" height="1px"></div>

            <div class="col-md-6-1 col-12 text-center bg-dark">

                <div class="col-md-12 col-12">
                    <div class="text-center">
                        <canvas id="linechart"></canvas>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<hr>
<div class="container">
    <div class="row">
        {% include "nwmarketapp/snippets/endgame_data_block.html" with name="Popular End Game Items" items=popular_items.popular_endgame_data %}
        {% include "nwmarketapp/snippets/endgame_data_block.html" with name="Popular Base Items" items=popular_items.popular_base_data %}
        <div class="col-lg-4 col-12">
            <h3>Competitive Items</h3>
            <hr>
            <div class="col-md-12 col-12" style="height: 250px; padding-bottom: 50px;">
                <canvas id="barchart"></canvas>
                <p class="detail_text">*This shows the items with the highest number of differing prices today. This usually means a lot of undercutting is going on and pricing is competitive.</p>

            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        {% include "nwmarketapp/snippets/endgame_data_block.html" with name="Motes" items=popular_items.mote_data %}
        {% include "nwmarketapp/snippets/endgame_data_block.html" with name="Refining Reagents" items=popular_items.refining_data %}
        {% include "nwmarketapp/snippets/endgame_data_block.html" with name="Trophy Mats" items=popular_items.trophy_data %}
    </div>
</div>

<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                Data from additional servers coming soon. We are looking for more Market Watchers, head over to the <a href="https://discord.gg/9xfcG6jTVj" style="text-decoration: underline">discord channel</a> to find out more.
            </div>
            <div class="col-12">
                How to <a href="#" data-toggle="modal" data-target="#exportModal" style="text-decoration: underline">export prices</a> for use with gaming.tools crafting calculator
                 <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content text-left">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Exporting prices to the gaming.tools crafting calculator</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row popular-text" >
                                <ol>
                                    <li><a href="/latestprices/?server_id={{ server_id }}" style="text-decoration: underline">Right click here and Save link as..</a></li>
                                    <li>Go to <a href="https://gaming.tools/newworld/price-customization" style="text-decoration: underline" target="_blank">the price customization page</a></li>
                                    <li>Scroll to the bottom and use the Import Prices function</li>
                                    <li>Change the "Minimum Import Availability" to 1 to get all the prices</li>
                                    <img src="{% static 'nwmarketapp/GamingtoolCustomizations.png' %}" width="400px">

                                </ol>
                                The prices exported will be an average of the lowest 5 listings seen in the last scan.
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'nwmarketapp/popper.min.js' %}"></script>
    <script src="{% static 'nwmarketapp/bootstrap-4.4.1.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <script type="text/javascript" src="{%  static 'nwmarketapp/jquery.typeahead.min.js' %}"></script>

<script>
    {% if direct_link %}

    link_submit({{ direct_link }});

    {% endif %}

function link_submit(cn) {

    var cn_id = cn
    var form_data = {cn_id}

    {#console.log(form_data)#}
    $.ajax({
        type: 'GET',
        url: "",
        data: form_data,
        success: function (response) {
            {# Set price block#}
            update_prices(response);
            {#   set graph prices #}
            create_linegraph(response)
           var name = response.item_name
            $(".js-typeahead-names").val(name)

            window.scrollTo(0,0)
            let win_title = 'New World Market Prices' + cn
            let new_url = '/' + cn + '/' + {{ server_id }}
            window.history.pushState('data', win_title, new_url);
            gtag('event', 'link-search', {'term': name});
            $.getScript("https://www.googletagmanager.com/gtag/js?id=G-WW3EJQVND0",function(){});
        },

        error: function (response) {
            console.log(response)
        }
    })


}

function change_server(server_id){
    let pathname = window.location.pathname;
    console.log(pathname)
        if ((pathname.match(/\//g)||[]).length == 2) {
            let s_id = pathname.substring(pathname.lastIndexOf('/') + 1)
            let i = pathname.lastIndexOf('/') + 1
            let str = pathname.slice(0, i)
            window.location.assign(str + server_id)


        }else{
            window.location.assign(pathname + '1223/' + server_id)

        }




}
</script>

<script type="text/javascript">

    function update_prices(response) {
        $("#price_div").html(`
            <h5>Lowest Price as of: ${response.last_checked}</h5>
            <div class="col-md-12 col-12 large-text" id="price_block">
                 ${response.recent_lowest_price}
            </div>
<a href="#" data-toggle="modal" data-target="#exampleModal">Raw data</a> |
<a href="https://nwdb.info/db/item/${response.nwdb_id}" target="_blank">nwdb</a>
            <h5>${response.price_change}</h5>




 <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Unfiltered 10 lowest prices seen in last update</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row popular-text" id="detail_modal">
                                <div class="col-7">Time seen</div>
								<div class="col-3">Price</div>
                                <div class="col-2">Avail.</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
            `)

        $.each(response.detail_view, function (k, v) {
            let dateObj = new Date(v[0])

            let dt = dateObj.toLocaleDateString() + ' ' + dateObj.toLocaleTimeString()

            $("#detail_modal").append(`

								<div class="col-7">${dt}</div>
								<div class="col-3">${v[1]}</div>
                                <div class="col-2">${v[2]}</div>

             `);

        });

    }



</script>

</body>
</html>
