{% load static %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <span class="navbar-item nav-title">
          New World Market Prices
        </span>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-item field item-search-container">
        <p class="control has-icons-right">
            <input class="input item-search" size="40" type="search" placeholder="Start searching...">
        </p>
    </div>
    <div id="burger" class="navbar-menu is-dark burger-menu">

        {% include 'nwmarketapp/server-select.html' %}
        <div class="navbar-end is-dark">
            <div class="navbar-item">
                <div class="buttons">
                    {% if not request.user %}
                        <a class="button is-primary login" href="accounts/discord/login/">
                            <img src="{% static 'images/discord-button.png' %}">
                            <strong class="discord-text">Sign In With Discord</strong>
                        </a>
                    {% else %}
                        <a class="button is-primary login" href="accounts/discord/login/">
                            <img src="{% static 'images/discord-button.png' %}">
                            <strong class="discord-text">Log Out ({{ request.user.first_name }})</strong>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
