{% extends 'base.html' %}
{% block nav %}
    {% with is_login_nav=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="container mt-2">
        <div class="columns">
            <div class="column is-half">
                {% include 'profile/profile.html' %}
            </div>
            <div class="column is-half">
                {% include 'profile/scanner-settings.html' %}
            </div>
        </div>
        <div class="columns">
            <div class="column is-half">
                {% include 'profile/site-settings.html' %}
            </div>
            <div class="column is-half">
                <!-- nothing for now -->
            </div>
        </div>
    </div>
{% endblock %}