{% load i18n %}
<form method="POST" id="password-form">
    {% csrf_token %}
    <div class="is-flex">
        <input class="input password-input" type="password" name="password" placeholder="Enter new Password...">
        <input class="button password-submit" type="button" value="Submit" id="password-submit"></div>
    </div>
</form>
<script>
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
  document.getElementById("password-submit").onclick = (event) => {
      const form = document.getElementById("password-form");
      const csrftoken = form.querySelector("[name=csrfmiddlewaretoken]").value;
      const newPassword = form.querySelector("[name=password]").value;
      let data = new FormData();
      data.append("password", newPassword);
      fetch("{% url 'set-password' %}", {
            headers: {"Content-Type": "application/json"},
            method: "POST",
            credentials: 'same-origin',
            body: data,
            headers: { "X-CSRFToken": csrftoken},
      }).then((response) => response.json()).then((data) => {
            const notifications = document.getElementById("notifications");
            if(data["status"] == "failed") {
                const content = data["errors"].join("<br><br>")
                notifications.innerHTML = `<div class="notification is-danger container">
                <button class="delete"></button>
                ${content}
                </div>`;
            } else {
                notifications.innerHTML = `<div class="notification is-success container">
                <button class="delete"></button>Password updated successfully.</div>`;
            }
            setTimeout(() => {notifications.innerHTML = "";}, 10000);
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
      })
  }
});
</script>