{% load i18n %}
<form method="POST" id="password-form">
    {% csrf_token %}
    <div class="is-flex">
        <input class="input password-input" type="password" name="password" placeholder="Enter new Password...">
        <input class="button password-submit" type="button" value="Submit" id="password-submit"></div>
    </div>
</form>
<script>
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
  let timeout = null;
  document.getElementById("password-submit").onclick = (event) => {
      const form = document.getElementById("password-form");
      const csrftoken = form.querySelector("[name=csrfmiddlewaretoken]").value;
      const newPassword = form.querySelector("[name=password]").value;
      let data = new FormData();
      data.append("password", newPassword);
      nwmpRequest("{% url 'set-password' %}", "POST", {
            credentials: 'same-origin',
            body: data,
            headers: { "X-CSRFToken": csrftoken},
      }).then((data) => {
            if(data["status"] == "failed") {
                const content = data["errors"].join("<br><br>")
                createNotifiation(content, "danger");
            } else {
                createNotifiation("Password updated sucessfully.", "success");
            }
      }).catch((err) => {
          createNotifiation("Password update failed.", "danger");
      })
  }
});
</script>