<div class="box full-height p-3">
    <div class="card full-height p-3">
        <div class="is-size-4">Site Settings</div>
        <hr class="divider mb-3">
        <div>
            <div class="columns mb-0 py-3">
                <strong class="column py-0">Default Server</strong>
                <span class="column py-0">Coming Soon...</span>  <!-- todo: customisation -->
            </div>
            <div class="columns mb-0 py-3">
                <strong class="column py-0">Custom Dashboards</strong>
                <span class="column py-0">Now available from the top right menu</span>
            </div>
        </div>
    </div>
</div>
