{% load humanize %}

      {% for item in dashboard_data %}
           {% if forloop.first %}<div class="column">{% endif %}
          <article class="tile box tracked-item ">
           <div class="grid-container">
              <div class="item-name is-size-6">{{ item.item_name }}</div>
              <div class="updated timestamp">Updated: {{ item.last_checked|naturaltime }}</div>
              <div class="mini-graph"><div id="chart-{{ item.item_id }}" class="chart" style="width: 164px;height: 45px;"></div></div>
              <div class="price is-size-6">{{ item.lowest_price.price }}</div>
               {% if item.price_change < 0 %}
                    <div class="change is-size-6 yellow_text">{{ item.price_change }}%</div>
               {% else %}
                     <div class="change is-size-6 blue_text">{{ item.price_change }}%</div>
               {% endif %}


       </div>

      </article>

        {% if dashboard_data|length > 10  %}
            {%  firstof 4 as num_per_col %}
        {% endif %}
        {% if dashboard_data|length < 10 and dashboard_data|length >= 6%}
            {%  firstof 3 as num_per_col %}
        {% endif %}
         {% if dashboard_data|length < 6 and dashboard_data|length >= 4%}
            {%  firstof 2 as num_per_col %}
        {% endif %}
          {% if dashboard_data|length < 4 and dashboard_data|length >= 1%}
            {%  firstof 1 as num_per_col %}
        {% endif %}
        {% if forloop.counter|divisibleby:num_per_col and not forloop.last %}</div><div class="column"> {% endif %}

      {% endfor %}


  </div>

